extends layout

block content
    div(ng-controller='HomeCtrl', ng-init='room=#{JSON.stringify(room)}').home
        div(ng-hide='user').nav
            h2.left #[img(src='/audio/logo.png' height='30px')] #[a(href='/') YEET]
            div.right
                input(placeholder='Username' ng-model='loginup.username')
                input(placeholder='Password' ng-model='loginup.password' type='password')
                button(ng-click='loginUser(loginup)') Login
                button(ng-click='signupUser(loginup)') Sign Up
        div(ng-show='user').nav
            h2.left #[img(src='/audio/logo.png' height='30px')] #[a(href='/') YEET]
            p.right Logged in as #[a(ng-href='/u/{{user}}') {{user}}]. &nbsp;&nbsp;&nbsp;&nbsp; #[button(ng-click='logout()') Logout]
            br
        h1 {{room.id}}
        div(scroll-glue).panel-body
            div(ng-repeat='message in room.messages').box
                b #[a(ng-href='/u/{{message.user}}') {{message.user}}]
                small {{message.timeago}}
                p {{message.message}}
        div(ng-if='user').footer
            input(placeholder='Message' ng-model='sent.message' ng-keydown='$event.which === 13 && sendChat(sent)')
            button(ng-click='sendChat(sent)') Send!
        div(ng-if='users')
            br
            h2 Current Users:
            div(ng-repeat='user in users')
                p {{user}}
        br
        br
        br
        p.pre-intro Here is the code required to include this script.
        br
        pre.prettyprint.
            &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js&quot;&gt;&lt;/script&gt;
            &lt;script&gt;
                YeetRoomID = &quot;{{room.id}}&quot;
            &lt;/script&gt;
            &lt;script src=&quot;http://yeet.im/ya.js&quot;&gt;&lt;/script&gt;
        script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
        link(rel='stylesheet' href='css/github-style.css')
