extends layout

block content
    div(ng-controller='IndexCtrl').main
        img(src='/audio/logo.png')
        h1.main-text= title
        div.left.main-home-text
            video(autoplay width='100%' height='auto')
                source(src='audio/YEET.mp4')
                | Your browser does not support the video tag.
        div.right.main-home-text
            p.
                YEET is a simple way to incorporate a realtime chat into your websites. 
                With one included script tag you can incorporate a realtime chat for your website.
        br
        br
        p.implement To implement YEET, copy and paste the following:
        pre.prettyprint.
            &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js&quot;&gt;&lt;/script&gt;
            &lt;script&gt;
                YeetRoomID = &quot;YEET_ROOM_ID&quot;
            &lt;/script&gt;
            &lt;script src=&quot;http://yeet.im/ya.js&quot;&gt;&lt;/script&gt;
        p.
            It is as simple as including JQuery, setting up a room ID, and then including the #[code ya.js] script.
        p.
            Let's make a chat! Sign Up/Login In First! You are logged in as #[a(ng-href='/u/{{user}}') {{user}}].
        .row
            div(ng-hide='user')
                input(ng-model='loginup.username' placeholder='Username')
                input(ng-model='loginup.password' type='password' placeholder='Password')
                button(ng-click='loginUser(loginup)') Login
                button(ng-click='signupUser(loginup)') Sign Up
            div(ng-if='user')
                input(ng-model='id' placeholder='ID of Chatroom')
                br
                br
                button(ng-click='signup(id)') Create or go to a room!
            p {{message}}
        .footer-home
            p Thanks for checking out YEET, I am excited to see what you guys do with it! YEET was made by #[a(href='https://twitter.com/hcjk_') Henry Kaufman] with the help of #[a(href='https://twitter.com/itschriscates') Chris Cates]. If you want to reach out to Henry, email him at #[a(href='mailto:me@hcjk.co') me@hcjk.co]
    script(src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js")
    link(rel='stylesheet' href='css/github-style.css')
