doctype html
html(ng-app='app')
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name='description' content='A simple way to add a realtime chat to a website.')
        script(src='https://use.typekit.net/jom1lqm.js')
        script.
            try{Typekit.load({ async: true });}catch(e){}
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-64318963-5', 'auto');
            ga('send', 'pageview');
    body
        block content
        script(src='/js/angular.min.js')
        script(src='/js/socket.io.js')
        script(src='/js/scrollglue.js')
        script(src='/js/moment.js')
        script.
            moment().format();
        script(src='/js/index.js')
