extends layout

block content
    div(ng-init='yeets=#{JSON.stringify(yeets)}').main
        h1.main-text #{user}
        h2 Yeets:
        div(ng-repeat='yeet in yeets').box
            a(ng-href='/yeet/{{yeet.name}}') {{yeet.name}}
