@import url(https://fonts.googleapis.com/css?family=PT+Sans);
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'PT Sans', sans-serif;
    color: #8E8E93;
}
h1, h2, h3 {
    padding-bottom: 10px;
    font-size: 20px;
    display: inline-block;
}
.ya-yeet-ya-home, .ya-yeet-ya-currentUsers {
    height: 450px;
    width: 300px;
    position: fixed;
    right: 50px;
    bottom: 0;
    border: solid 2px #c7c7cc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0px #c7c7cc;
}
.ya-yeet-ya-content {
    padding: 20px;
}
.ya-yeet-ya-miniPopup {
    text-align: center;
    padding-top: 25px;
    width: 75px;
    height: 50px;
    border-radius: 50px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: #c7c7cc;
    box-shadow: 0 2px 5px 0px #c7c7cc;
}
.ya-yeet-ya-miniPopup i {
    font-size: 20px;
    background-color: transparent;
    color: #fff;
}
.ya-yeet-ya-miniPopup button {
    padding: 0;
    margin: 0;
    border: none;
}
b {
    color: #2C497F;
}
small {
    color: #c7c7cc;
    font-size: 10px;
    margin-left: 5px;
}
input, button {
    color: #8E8E93;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
}
button {
    color: #8E8E93;
    background-color: #fff;
    text-align: right;
}
input:focus, button:focus {
    outline: none;
}
.ya-yeet-ya-panel-body {
    height: 300px;
    overflow: scroll;
}
#ya-yeet-ya-usersButton, #ya-yeet-ya-close, #ya-yeet-ya-hidbox {
    color: #c7c7cc;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    float: right;
}
.ya-yeet-ya-line {
    border-top: solid 2px #c7c7cc;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.ya-yeet-ya-box {
    padding: 10px 0;
}
#ya-yeet-ya-message {
    margin: 0 auto;
}
.ya-yeet-ya-footer {
    border-top: solid 2px #c7c7cc;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.ya-yeet-ya-available {
    color: #CCF5AC;
}
.ya-yeet-ya-users, .ya-yeet-ya-available {
    display: inline-block;
}
#ya-yeet-ya-usersButton {
    margin-right: 10px;
}
::-webkit-scrollbar {
    display: none;
}
