* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
body {
    font-family: 'proxima-nova', Helvetica, Arial, sans-serif;
    color: #333;
}
a {
    color: #2C497F;
    text-decoration: none;
}
video {
    float: left;
    width: 100%;
    margin-top: 25px;
}
.main-home-text {
    width: 49%;
    display: inline-block;
}
input {
    font-size: 15px;
    padding: 10px 20px;
    border: solid;
    border-width: 2px;
    border-color: #c7c7cc;
    border-radius: 5px;
    color: #333;
    transition: border .3s;
}
input:focus {
    outline: none;
    border-color: #2C497F;
    transition: border .3s;
}
button {
    font-size: 15px;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #2C497F;
    color: #fff;
    background-color: #2C497F;
    padding: 10px 20px 10px 20px;
}
input, button {
    margin-right: 10px;
}
.row {
    margin-top: 25px;
}
.home {
    padding: 25px 0 25px 0;
    width: 60%;
    margin: 0 auto;
}
.box {
    margin: 15px 0 15px 0;
}
.box b {
    font-size: 17px;
    color: #333;
}
.box p {
    margin: 0;
    font-size: 15px;
    color: #555;
}
.box small {
    font-size: 12px;
    padding-left: 5px;
    color: #c7c7cc;
}
.footer input, .footer button {
    margin-right: 25px;
}
.panel-body {
    height: 400px !important;
    overflow-y: scroll;
}
#users {
    color: #c7c7cc;
    padding: 10px 0px;
    display: block;
}
#loginButton {
    margin-right: 10px;
}
::-webkit-scrollbar {
    display: none;
}
.main {
    width: 50%;
    margin: 100px auto 0px auto;
}
.main-text {
    text-align: center;
    font-size: 50px;
    letter-spacing: 20px;
    color: #2C497F;
}
.main p {
    margin: 25px 0;
    line-height: 1.6em;
    color: #8E8E93;
    font-size: 20px;
}
.main img {
    display: block;
    margin: 0 auto;
    height: 100px;
}
.footer-home {
    border-top: solid 2px #c7c7cc;
    height: 200px;
}
.footer-home p {
    font-size: 15px;
}
.outer {
    display: table;
}
.inner {
    display: table-cell;
    vertical-align: middle;
}
code {
    color: #2C497F;
}
.nav {
    height: 50px;
    color: #c7c7cc;
}
.nav p {
    display: inline-block;
}
.nav a {
    color: #c7c7cc;
}
.left {
    float: left;
}
.left img {
    display: inline;
}
.left h2 {
    display: inline;
}
.right {
    float: right;
}
.implement {
    display: block;
}
@media (min-width: 961px) {
    .main-home-text {
        height: 300px;
    }
}
@media screen (max-width: 1300px) and (min-width: 961px) {
    .main-home-text {
        height: 350px;
    }
}
@media (max-width: 1120px) {
    .main {
        width: 75%;
    }
}
@media (max-width: 960px) {
    .main {
        margin: 50px auto 0 auto;
        width: 80%;
    }
    .main-home-text {
        width: 100%;
        height: auto;
    }
    .main-home-text video {
        height: auto;
    }
    .main-home-text p {
        margin-top: 50px;
    }
    input, button {
        margin: 10px 0 10px 0;
    }
    button {
        display: inline-block;
    }
    .nav {
        height: auto;
    }
    .left {
        text-align: center;
        float: none;
    }
    .left img {
        display: block;
        margin: 0 auto;
    }
    .left h2 {
        display: block;
    }
    .right {
        float: none;
    }
    pre {
        display: none;
    }
    .pre-intro {
        display: none;
    }
}
@media (max-width: 768px) {
    .home {
        width: 90%;
    }
    input, button {
        display: inline-block;
        margin-right: 10px;
    }
    .main {
        width: 90%;
    }
}
