<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="http://127.0.0.1:3000/css/mini.style.css">
<div class="ya-yeet-ya-home">
    <div class="ya-yeet-ya-login">
        <h1>Login or Sign Up to YEET</h1>
        <h2 id="ya-yeet-ya-hideBox">HIDE</h2>
        <br>
        <input type="text" id='ya-yeet-ya-usernameField' name="username" placeholder="Username" />
        <br>
        <br>
        <input type="password" id='ya-yeet-ya-passwordField' name="password" placeholder="Password" />
        <br>
        <br>
        <button id='ya-yeet-ya-loginButton'>Login</button>
        <button id='ya-yeet-ya-signupButton'>Sign Up</button>
        <br>
        <br>
        <button id='ya-yeet-ya-proceed'>Proceed With An Account</button>
        <br>
        <br>

    </div>
    <div class="ya-yeet-ya-loggedIn">
        <div class="ya-yeet-ya-content">
            <h1 id="ya-yeet-ya-roomID"></h1>
            <h2 id="ya-yeet-ya-hidbox"><i class="fa fa-compress"></i></h2>
            <h2 id="ya-yeet-ya-usersButton">USERS</h2>
            <div class="ya-yeet-ya-panel-body">

            </div>
        </div>
        <div class="ya-yeet-ya-footer">
            <input type="text" placeholder="Message" id='ya-yeet-ya-message'>
            <button id='ya-yeet-ya-submitMessage' type="submit">Send!</button>
        </div>
        <br>

    </div>
</div>
<div class="ya-yeet-ya-currentUsers">
    <div class="ya-yeet-ya-content">
        <h3>Current Users:</h3>
        <h2 id="ya-yeet-ya-close">X</h2>
        <br>
        <div class="ya-yeet-ya-availability">

        </div>
    </div>
    <div class="ya-yeet-ya-line">
        <button id='ya-yeet-ya-logoutButton'>Logout</button>
    </div>
</div>
<div class="ya-yeet-ya-miniPopup">
    <i class="fa fa-comment"></i>
</div>
